body {
    margin: 0;
  }

mapbox-map {
    height: 100%;
    width: 100%;
}

#heading {
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    background: rgb(40, 40, 40);
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    padding: 30px;
    width: 300px;
    overflow: auto;
    z-index: 9;
}

.main-container {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}
